.section-contact{
    width:100%;
    height:auto;
    background-image: url('../image/contactopacity.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-top:3px dotted #f1f1f1;
    border-bottom:3px dotted #f1f1f1; 
}

.section-contact .container{
    position: relative;
    padding:50px 0 100px 0;
    width:calc(100% - 200px);
    height:100%;
    left:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contact .container h2{
    text-align: center;
    font-size: 50px;
  
}

.section-contact .container form{
    display: flex;
    flex-direction: column;
    width:70%;
    align-items: center;
    justify-content: center;
    height:auto;
}

.section-contact .container form .formElement{
    width:100%;
    margin:10px 0 10px 0;
}

.section-contact .container form .formElement label{
    position: relative;
    top:28px;
    left:5px;
    font-size: 20px;
    color: rgba(37, 37, 37, 0.787);
    font-size: 22px;;
    transition: all 0.5s ease-in-out;
}

.section-contact .container form .formElement:focus-within label,
.section-contact .container form .formElement.active label {
    transform: translate(0px,-28px);
    top:0;
}

.section-contact .container form .formElement input{
    width:100%;
    border:none;
    outline: none;
    background: none;
    border-bottom:2px solid  rgb(5, 5, 5);
    font-size: 22px;;
}

.section-contact .container form .formElement textarea{
    width:100%;
    height:150px;
    border:none;
    outline: none;
    background: none;
    border:2px solid rgb(0, 0, 0);
    font-size: 22px;

}

.section-contact .container form  button{
    align-self: center;
    padding:10px 10px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    background: none;
    color: rgb(0, 0, 0);
}






@media screen and (max-width:1050px){
    .section-contact .container{
        width:100%;
        left:00px;
    }
    .section-contact .container form{
        width:90%;
    }
}